#faculty-banner {
  background: url('../images/faculty-photo.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-bottom: 0;
  border-bottom: 10px solid #8a54ff;
}

.jumbo-content {
  width: 100%;
  margin-bottom: 0;
}
.jumbo-content h1 {
  color: #8a54ff;
}
.jumbo-content p {
  color: #999999;
}

@media only screen and (min-width: 768px) {
  .jumbo-content {
    margin-right: 0;
    width: 45rem;
    margin-top: 9rem;
    margin-bottom:9rem;
  }
}

.trainers {
  color: #000000;
  margin: 5.625rem auto 11.25rem;
}

.trainer-card h2 {
  color: #8a54ff;
}

.trainer-card {
  margin:0 auto 6.25rem;
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 992px) {
  .trainers {
    margin: 5.625rem auto 11.25rem;
  }
}
